<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>LinkFree | Guilherme Soares Cota</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="icon" href="assets/imagens/favicon.png" type="image/x-icon" />
    <script type="text/javascript" src="assets/js/script.js"></script>
</head>

<body>
    <i onclick="mostrar(this)" class="fa fa-moon-o fa-2x night_mode"></i>

    <img id="userPhoto" src="assets/imagens/perfil.jpg" alt="User Photo">

    <spam id="userName">Guilherme Soares Cota</spam>

    <div id="links">
        <a class="link" href="https://guilhermesoares.tech" target="_blank" style="border-radius: 25px;"><i
                class="fa fa-globe" aria-hidden="true"></i> Meu site</a>
        <a class="link" href="https://github.com/guiscota" target="_blank" style="border-radius: 25px;"><i
                class="fa fa-github"></i> Github</a>
        <a class="link" href="https://looptech.com.br" target="_blank" style="border-radius: 25px;"><i
                class="fa fa-globe" aria-hidden="true"></i> Loop Tech</a>
    </div>

    <div class="footer">
        <a href="https://www.instagram.com/guiscota" target="_blank">
            <i style="line-height: 38px;" class="fa fa-instagram circulo" aria-hidden="true"></i>
        </a>
        <a href="https://www.facebook.com/guisoarescota" target="_blank">
            <i style="line-height: 38px;" class="fa fa-facebook-f circulo" aria-hidden="true"></i>
        </a>
        <a href="https://www.linkedin.com/in/guiscota" target="_blank">
            <i style="line-height: 38px;" class="fa fa-linkedin circulo" aria-hidden="true"></i>
        </a>
        <a href="https://api.whatsapp.com/send?text=Ol%C3%A1%20Guilherme!%20Eu%20vi%20o%20seu%20site,%20e%20gostaria%20de%20conversar.&phone=5537999096306" target="_blank">
            <i style="line-height: 38px;" class="fa fa-whatsapp circulo" aria-hidden="true"></i>
        </a>
    </div>

    <!-- Javascript -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script src="index.js"></script>
</body>

</html>