<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description">
    <meta name="keywords">
    <meta http-equiv="Content-Security-Policy" content="object-src 'none';">
    <meta name="robots" content="index, follow">
    <link rel="icon" type="image/x-icon">
    <meta name="author" content="Guilherme Soares Cota">
    <title></title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="./dist/bundle.min.css">
    <link defer rel="stylesheet" href="./assets/css/font-awesome.min.css">

    <!-- JavaScript -->
    <script defer src="./dist/bundle.min.js"></script>
</head>

<body>
    <header>
        <!-- Theme toggle button -->
        <i role="button" title="Alterar tema" class="fa fa-moon-o fa-2x night_mode"></i>

        <!-- User profile -->
        <img id="userPhoto" alt="Foto de perfil" rel="preload">
        <span id="name" aria-label="Nome" class="no-animation"></span>
        <span id="bio" aria-label="Biografia"></span>
    </header>

    <main>
        <!-- Useful links -->
        <div id="links" aria-labelledby="Links úteis"></div>
    </main>

    <footer class="footer">
        <!-- Social media links -->
        <div id="socialMedia" aria-label="Redes sociais"></div>
        <span id="username" aria-label="Nome de usuário"></span>
    </footer>
</body>

</html>