<!DOCTYPE html>

<html>
   <head>
    <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet'/>
        <link rel="stylesheet" href="style.css">
        <title>Animated</title>
   </head>
   <body>
    <div class="bg">
        <div class="bg-shapes"></div>
        <img alt='User Photo' class='user animated zoomIn' src='user.png'/>
        <div class='userName animated fadeIn'>Animated Theme by Mayank Jha</div>
        <div class="linkss">
            <a  class='link animated fadeInRight' href='https://github.com/mkjha482' target='_blank'><i class="fa fa-github"></i>&nbsp; &nbsp; GitHub</a>
            <a class='link animated fadeInLeft' href='https://www.linkedin.com/in/mayank-jha-9181341b0/' target='_blank'><i class="fa fa-linkedin"></i> &nbsp; &nbsp; LinkedIn</a>
        </div>
    </div>
    </body>
</html>

