<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>LinkFree | Luã Braga</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="icon" href="assets/imagens/favicon.png" type="image/x-icon" />
</head>

<body>
    <div id="profile">
        <img id="userPhoto" src="assets/images/profile.png" alt="Profile picture of Luã Braga">
        <div id="userName">
            <h1>Luã Braga</h1>
            <p>Software Engineer</p>
        </div>
    </div>
    <div id="links">
        <a class="link" href="https://github.com/lmourabraga" target="_blank"><i class="fa fa-github"></i> Github</a>
        <a class="link" href="https://www.linkedin.com/in/lmourabraga/" target="_blank"><i class="fa fa-linkedin"
                aria-hidden="true"></i> LinkedIn</a>
        <a class="link" href="http://lmourabraga.com" target="_blank"><i class="fa fa-globe" aria-hidden="true"></i>
            Website</a>
        <a class="link" href="mailto:mail@lmourabraga.com" target="_blank"><i class="fa fa-envelope"
                aria-hidden="true"></i>
            E-mail</a>
        <a class="link" href="https://web.whatsapp.com/send?phone=5591981380045" target="_blank"><i
                class="fa fa-whatsapp" aria-hidden="true"></i>
            WhatsApp</a>
    </div>

</body>

</html>