<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    
    <title>My favourite teacher</title>
</head>

<body>
    <img id="userPhoto" src="images/troels_profile.png" alt="User Photo">
    
    <a href="https://www.instagram.com/yourfavouriteteacher/" id="userName" target="_blank">@yourfavouriteteacher</a>
    <div id="links">
        <a class="link" href="https://www.imdb.com/title/tt13453608/" target="_blank">IMDB</a>
        <a class="link" href="https://en.wikipedia.org/wiki/Teacher" target="_blank">Wikipedia</a>
    </div>

    <!-- Javascript -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script  src="index.js"></script>
</body>
</html>