<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>linkfree  | Friends</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Vujahday+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">

</head>
<body>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

<div class="wrapper">
    <div class="img-area">
    <img src="frame.png" class="frame" alt="">
    <img src="rachel.jpg" class="rounded" />
</div>
  <!-- <div class="image-cropper">
    <img src="rachel.jpg" class="rounded" />
  </div> -->  
  <h2 class="user-name">
    Rachel Green
  </h2>  
  <div class="links">
    <a href="https://github.com/dduyguu" class="link">
        G<span class="r">I</span><span class="b">T</span><span class="y">H</span><span class="r">U</span><span class="b">B</span>
    </a>
    <a href="https://www.linkedin.com/in/duyguisikk/" class="link">
        L<span class="r">I</span><span class="b">N</span><span class="y">K</span><span class="r">E</span><span class="b">D</span><span class="y">I</span><span class="r">N</span>
    </a>
    </a>
    
  </div>
  <!-- <img src="Friends-logo.png" class="logo"> -->
  <div class="friends">
    F<span class="r">R</span><span class="b">I</span><span class="y">E</span><span class="r">N</span><span class="b">D</span><span class="y">S</span>
  </div>

</div>
</body>
</html>