<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets//css/reset.css">
    <link rel="stylesheet" href="./assets/css/styles.css">
    <title>LinkFree - Marincor</title>
</head>

<body>
 


        <main class="container">
            <div class="profile"></div>
            <div class="media">
                <a href="https://github.com/marincor" class="link"><p>github</p></a>
                <a href="https://www.linkedin.com/in/gabriel-claudino-marinho-b88823179/" class="link"><p>linkedin</p></a>
                <a href="https://marincor-portfolio.vercel.app/" class="link"><p>portfolio</p></a>
            </div>
            
        </main>

        
      
</body>
</html>