<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <title>GameOn</title>
</head>

<body>
    <div id="profile">
        <img id="profilepic" src="./images/profilepic.png" alt="Profile Picture Of Arnab Mondal">
        <div id="userName">
            <h1>Arnab Mondal</h1>
            <p>Professional Gamer</p>
        </div>
    </div>
    <div id="links">
        <a class="link" href="https://www.instagram.com/" target="_blank">INSTAGRAM</a>
        <a class="link" href="https://www.twitch.tv/" target="_blank">TWITCH</a>
        <a class="link" href="https://www.youtube.com/" target="_blank">YOUTUBE</a>
    </div>
</body>

</html>
