<!-- https://links.myedusolve.com/-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Homer Simpson</title>
    <link
      rel="icon"
      href="https://raw.githubusercontent.com/OscarValerock/AboutOscar/main/assets/Images/oscar.png"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Montserrat:700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
    />
    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body>
    <br /><br />
    <img class="logo" src="https://i.imgur.com/t8ZX9um.jpg" alt="logo" />

    <h1>Homer Simpson</h1>

    <div class="links links_first">
      <a class="links links_first" href="contact.html" target="_blank"
        >Contact
      </a>
    </div>
    <div class="links links_second">
      <a class="links links_second" href="portfolio.html" target="_blank"
        >Portfolio
      </a>
    </div>
    <div class="links links_third">
      <a class="links links_third" href="cv.html" target="_blank">CV </a>
    </div>

    <h2>Follow me on</h2>
    <br />

    <div class="channels">
      <a
        class="channels_item"
        href="http://bit.ly/DiscordPowerPlatform"
        target="_blank"
      >
        <i class="ri-discord-line ri-3x"></i>
      </a>
      <a
        class="channels_item"
        href="http://bit.ly/OscarMartinez-LinkedIn"
        target="_blank"
      >
        <i class="ri-linkedin-box-line ri-3x"></i>
      </a>
      <a
        class="channels_item"
        href="http://bit.ly/OscarMartinez-Medium"
        target="_blank"
      >
        <i class="ri-medium-line ri-3x"></i>
      </a>
      <a
        class="channels_item"
        href="http://bit.ly/OscarMartinez-Twitter"
        target="_blank"
      >
        <i class="ri-twitter-line ri-3x"></i>
      </a>
      <a
        class="channels_item"
        href="http://bit.ly/OscarMartinez-GitHub"
        target="_blank"
      >
        <i class="ri-github-line ri-3x"></i>
      </a>
    </div>
  </body>
</html>
