<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dark-Web</title>
  <link rel="stylesheet" href="style.css">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <header>
      <div class="picture"></div>
      <h1>Nikhil Kumar</h1>
    </header>
    <main>
      <a class="link" href="https://linkedin.com/in/0nikhilkumar" target="_blank"><i class="ri-linkedin-fill"></i> Linkedln</a>
      <a class="link" href="https://github.com/0nikhilkumar" target="_blank"><i class="ri-github-fill"></i> Github</a>
      <a class="link" href="https://www.instagram.com/0nikhilkumar.ig/" target="_blank"><i class="ri-instagram-line"></i> Instagram</a>
      <a class="link" href="https://twitter.com/0nikhilkumar_" target="_blank"><i class="ri-twitter-fill"></i> X (Twitter)</a>
    </main>
  </div>
</body>
</html>