<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Ufuayk</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
</head>
<body>
    <img id="userPhoto" src="https://avatars.githubusercontent.com/u/132388044?v=4" alt="User Photo">
    <a href="https://www.github.com/ufuayk" id="userName">Ufuk | @ufuayk</a>
    <!-- You can add new links. -->
    <div id="links">
        <a class="link" href="https://layers.to/ufuk" target="_blank">Layers</a>
        <a class="link" href="https://ufuk.bearblog.dev/" target="_blank">Bear Blog</a>
    </div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script src="index.js"></script>
</body>
</html>