<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Windows 95 UI Kit crafted by Themesberg.com">
    <meta name="author" content="Themesberg">
    <title>Windows95</title>
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
    <link rel="manifest" href="img/favicon/site.webmanifest">
    <link rel="mask-icon" href="img/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#ffffff">
    <!-- Bootstrap CSS -->
    <link type="text/css" rel="stylesheet" href="bootstrap.min.css">
    <!-- Pixel CSS -->
    <link type="text/css" rel="stylesheet" href="pixel.css">
</head>

<body>
    <header class="header-global">
        <nav id="navbar-main" class="navbar d-flex flex-row align-items-center navbar-main navbar-expand-lg navbar-dark justify-content-between">
            <ul class="navbar-nav navbar-nav-hover flex-row align-items-center">
                <li class="nav-item">
                    <a href="index.html" class="nav-link" role="button">
                        <span class="nav-link-inner-text">📝 My Links</span>
                    </a>
                </li>
            </ul>
            <div class="time text-center">
                <span class="time text-uppercase">1:47 PM</span>
            </div>
        </nav>
    </header>
    <main>
        <!-- Hero -->
        <section class="section section-lg bg-secondary overflow-hidden z-2 h-100">
            <div class="container z-2">
                <div class="row justify-content-center pt-6 pt-md-5 pb-0 mb-2">
                    <div class="col-12 col-xl-7">
                        <div class="text-center mb-3">
                            <img src="https://thispersondoesnotexist.com/image" class="img-fluid" style="max-width: 50%; max-height: 50%" alt="Its me">
                        </div>

                        <div class="card card-tertiary">
                            <div class="card-header text-center">
                                <span>John Doe</span>
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    A nice text about me
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- URLS -->
                <div class="row justify-content-center pt-3 pt-md-3 pb-0 mb-2 text-center">
                    <div class="col-12 col-xl-7">
                        <a class="btn mr-2 mb-2 btn-lg btn-primary" href="#">My hobbys</a>
                        <a class="btn mr-2 mb-2 btn-lg btn-primary" href="#">My CV</a>
                        <a class="btn mr-2 mb-2 btn-lg btn-primary" href="#">My Theatre</a>
                        <a class="btn mr-2 mb-2 btn-lg btn-primary" href="#">My hobbys</a>
                        <a class="btn mr-2 mb-2 btn-lg btn-primary" href="#">My CV</a>
                        <a class="btn mr-2 mb-2 btn-lg btn-primary" href="#">My Theatre</a>
                        <a class="btn mr-2 mb-2 btn-lg btn-primary" href="#">My hobbys</a>
                        <a class="btn mr-2 mb-2 btn-lg btn-primary" href="#">My CV</a>
                        <a class="btn mr-2 mb-2 btn-lg btn-primary" href="#">My Theatre</a>
                        <a class="btn mr-2 mb-2 btn-lg btn-primary" href="#">My hobbys</a>
                        <a class="btn mr-2 mb-2 btn-lg btn-primary" href="#">My CV</a>
                        <a class="btn mr-2 mb-2 btn-lg btn-primary" href="#">My Theatre</a>
                        <a class="btn mr-2 mb-2 btn-lg btn-primary" href="#">My hobbys</a>
                        <a class="btn mr-2 mb-2 btn-lg btn-primary" href="#">My CV</a>
                        <a class="btn mr-2 mb-2 btn-lg btn-primary" href="#">My Theatre</a>
                        <a class="btn mr-2 mb-2 btn-lg btn-primary" href="#">My hobbys</a>
                        <a class="btn mr-2 mb-2 btn-lg btn-primary" href="#">My CV</a>
                        <a class="btn mr-2 mb-2 btn-lg btn-primary" href="#">My Theatre</a>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer style="position: sticky; bottom: 0; z-index: 1000 !important;">
        <nav id=""
            class="navbar navbar-expand-lg navbar-dark justify-content-between ">
            <ul class="navbar-nav navbar-nav-hover flex-row align-items-center">
                <li class="nav-item">
                    <a href="index.html" class="nav-link" role="button">
                        <span class="nav-link-inner-text">📺 Have a great day!</span>
                    </a>
                </li>
            </ul>
            <div class="time text-center">
                <span class="time text-uppercase">1:47 PM</span>
            </div>
        </nav>
    </footer>

    <!-- Core -->
    <script src="jquery.min.js"></script>
    <script src="bootstrap.min.js"></script>

    <!-- pixel JS -->
    <script src="pixel.js"></script>

</body>

</html>