<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Arcade Games</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
</head>

<body>
    <img id="userPhoto" src="userPhoto.png" alt="User Photo">
    
    <a href="" id="userName">Arcade Games</a>
    <div id="links">
        <a class="link" href="https://en.wikipedia.org/wiki/Asteroids_(video_game)" target="_blank">Asteroids</a>
        <a class="link" href="https://en.wikipedia.org/wiki/Donkey_Kong_(video_game)" target="_blank">Donkey Kong</a>
        <a class="link" href="https://en.wikipedia.org/wiki/Frogger" target="_blank">Frogger</a>
        <a class="link" href="https://en.wikipedia.org/wiki/Pac-Man" target="_blank">Pac-Man</a>
    </div>

    <!-- Javascript -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script  src="index.js"></script>
</body>
</html>