<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <!-- Type your name here -->
    <title>Your name</title>

    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
</head>
<body>
    <!-- Put your photo here in src -->
    <img id="userPhoto" src="https://placehold.co/110x110" alt="User Photo">

    <!-- Type your username here -->
    <a href="https://www.instagram.com/thesimpsons" id="userName">@user</a>
    
    <!-- Put your name -->
    <h1>Hello, I am _____!</h1>

    <p>Contact me through the links below: </p>

    <!-- Put the desired link in href -->
    <div class="links">
        <a class="link" href="https://www.example.com" target="_blank">Personal website</a>

        <!-- Put the phone number instead of the XXXX
        Format: +XX (XX) XXXXX-XXXX -->
        <a class="link" href="https://wa.me/XXXXXXXXXXXXX" target="_blank">WhatsApp</a>

        <a class="link" href="https://www.example.com" target="_blank">Facebook</a>
        <a class="link" href="https://www.example.com" target="_blank">Instagram</a>
        <a class="link" href="https://www.example.com" target="_blank">Twitter</a>
    </div>
</body>
</html>