<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Neon Theme | vi_c0de</title>
    <!-- Change the title to your name -->
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <main>
      <!-- To change profile image -->
      <!-- Go to images folder and replace your image with the file name "profile-image.jpg" -->
      <img class="user-img" src="images/profile-image.jpg" alt="User Photo" />
      <h1>@vi_c0de</h1>
      <!-- Change the text to your name -->

      <!-- To change background image -->
      <!-- Go to images folder and replace your background image
         with the file name "background-image.jp"-->

      <!-- Links section begins here -->
      <div class="links-sec">
        <!-- link starts here -->
        <a href="https://github.com/VishnuDileesh" target="_blank">
          <div class="link">
            <span>Github</span>
          </div>
        </a>
        <!-- link ends here -->

        <!-- link starts here -->
        <a href="https://codepen.io/vishnu_dileesh/" target="_blank">
          <div class="link">
            <span>CodePen</span>
          </div>
        </a>
        <!-- link ends here -->

        <!-- link starts here -->
        <a href="https://www.instagram.com/vi_c0de/" target="_blank">
          <div class="link">
            <span>Instagram</span>
          </div>
        </a>
        <!-- link ends here -->
      </div>
      <!-- Links section ends here -->
    </main>
  </body>
</html>
