<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/ab77d23a81.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div id="wrapper">

<main class="Main">

    <div class="Main__backgroundImg">
<img src="OktoberFestImg.jpg" alt="">


    </div>

    <div class="Main__icon">
        <img class="Main__iconn"src="" alt="" srcset="https://emojis.slackmojis.com/emojis/images/1622516105/42623/beer.gif?1622516105">
    
    </div>


    <div class="Main__a">
        <p class="Main__atag"><a href="https://da.wikipedia.org/wiki/Oktoberfest">October fest in Copenhagen 2021</a></p>
    </div >

    <div class="Main__btnlink">

        <a href='https://www.oktoberfestdk.dk/'><button>Oktober fest</button></a>

    </div>
    

    
    
    

  
</main>








    </div>
</body>
</html>