<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Shades Of Purple | Rohit Purkait</title>
</head>

<body>
    <div class="background">
        <div class="main-content">
            <div class="profile-pic-container">
                <img class="profile-pic" src="./rohit.jpeg" alt="">
            </div>
            <div class="username">
                <a
                href="https://www.instagram.com/otaku_._sempai/"
                target="_blank"
                class="username"
                >@Rohit Purkait</a
              >
            </div>
            <div class="profile-links-container">
                <a href="https://rohit-purkait.netlify.app/" target="_blank" class="profile-link">
                    <i class="fas fa-globe"></i>
                    <div>Website</div>
                </a>
                <a href="https://www.linkedin.com/in/codeswithroh/" target="_blank" class="profile-link">
                    <i class="fab fa-linkedin"></i>
                    <div>LinkedIn</div>
                </a>
                <a href="https://in.pinterest.com/rohitpurkait001/_saved/" target="_blank" class="profile-link">
                    <i class="fab fa-pinterest-square"></i>
                    <div>Pinterest</div>
                </a>

                <a href="https://github.com/codeswithroh" target="_blank" class="profile-link">
                    <i class="fab fa-github-square"></i>
                    <div>GitHub</div>
                </a>

            </div>
        </div>
</body>
<script src="https://kit.fontawesome.com/3fd576ae50.js" crossorigin="anonymous"></script>

</html>