<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Space Theme by Mohit Aasirwal</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/styles.css" />
<!-- import icons here and use as you want -->
  </head>
  <body>
    <div>
      <img
        class="w-fit hidden sm:opacity-60 sm:flex z-0"
        src="thumb-1920-936378.jpg"
        alt="background-img"
      />
    </div>
    <div class="sm:flex sm:justify-start sm:items-start">
      <div class="moon-animation opacity-30 sm:opacity-100 z-10">
        <div class="container sm:mt-28">
          <p class="letter letter-M">M</p>
          <div class="moon">
            <div class="orbit">
              <p>O</p>
            </div>
          </div>
          <p class="letter letter-N">N</p>
        </div>
      </div>
    </div>
    <div class="profile flex mt-10 flex-col justify-center rounded-full items-center">
      <img
        src="download.jpg"
        class="rounded-full border border-red-600"
        alt="profile"
      />
      <h2 class="text-white font-bold py-2">Name Surname</h2>
      <p class="text-white font-thin">designation</p>

    </div>
    <div
      class="links flex flex-wrap sm:flex-row flex-col my-40 gap-6 overflow-hidden justify-center items-center"
    >
      <div
        class="w-auto h-auto bg-teal-700 rounded-lg px-3 py-2 hover:bg-teal-900 cursor-pointer text-emerald-500"
      >
        Instagram
      </div>
      <div
        class="w-auto h-auto bg-teal-700 rounded-lg px-3 py-2 hover:bg-teal-900 cursor-pointer text-emerald-500"
      >
        twitter
      </div>
      <div
        class="w-auto h-auto bg-teal-700 rounded-lg px-3 py-2 hover:bg-teal-900 cursor-pointer text-emerald-500"
      >
        Facebook
      </div>
      <div
        class="w-auto h-auto bg-teal-700 rounded-lg px-3 py-2 hover:bg-teal-900 cursor-pointer text-emerald-500"
      >
        Github
      </div>
      <div
        class="w-auto h-auto bg-teal-700 rounded-lg px-3 py-2 hover:bg-teal-900 cursor-pointer text-emerald-500"
      >
        LinkedIn
      </div>
      <div
        class="w-auto h-auto bg-teal-700 rounded-lg px-3 py-2 hover:bg-teal-900 cursor-pointer text-emerald-500"
      >
        Discord
      </div>
    </div>
    <footer>
      <p
        class="flex justify-center items-center text-gray-900 sm: px-10 bg-amber-600 mx-5"
      >
        Space theme by Mohit Aasirwal
      </p>
    </footer>
  </body>
</html>
