body{
    background-color:black;

}
.moon-animation{
    background-color:black;
}
.items{
    width: 10em;
}
.container{
    height: 31.25em;
    width: 31.25em;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    color: #ffffff;
}
p.letter{
    font-size: 3.5em;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
}
.letter-M{
    left: 0.2em;
}
.letter-N{
    right: 0.2em;
}
.moon{
    background-color: #f5f5f5;
    height: 8em;
    width: 8em;
    border-radius: 50%;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    box-shadow: 0 0 0 0.6em
    rgba(255, 255, 255, 0.05),
    0 0 0 1.2em rgba(255, 255, 255, 0.05),
    0 0 0 1.8em rgba(255, 255, 255, 0.05);
}
.moon:after{
position: absolute;
content: "";
background-color: #e6e6e6;
height: 0.9em;
width: 0.9em;
border-radius: 50%;
top: 3.75em;
left: 1.25em;
box-shadow: 0.9em -2.1em 0 0.2em #e6e6e6,
1.5em -0.3em 0 -0.06em #e6e6e6;
}
.orbit{
    height: 18.75em;
    width: 18.75em;
    border-radius: 50%;
    position: absolute;
    left: -5.2em;
    bottom: -5.2em;
    animation: spin 8s infinite linear;
}
@keyframes spin {
    100%{
        transform: rotate(360deg);
    }   
}
.orbit p{
    position: absolute;
    font-size: 3.5em;
    top: 0.25em;
    left: 0.25em;
}
@media screen and (min-width: 700px) {
    .container{
        font-size: 20px;
    }
}