<!DOCTYPE html>

<html> 
  <head>
    <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet'/>
    <link rel="stylesheet" href="style.css">
    <title>Gridthetic LinkFree Template</title>
  </head>
  <body>
    <img alt='User Photo' id='userPhoto' class="circle" src='https://i.imgur.com/t8ZX9um.jpg'/>
    <a href='#' id='userName'>Gridthetic by Farell Faiz</a>
    <div id='links'>
        <a class='link' href='#yourLink' target='_blank'>Wikipedia</a>
        <a class='link' href='#yourLink' target='_blank'>IMDB</a>
    </div>
    <!-- Javascript -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'/>
  </body> 
</html>