<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>612bc</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="title-01.png" type="image/x-icon"/>
</head>

<body>
    <img href="https://www.instagram.com/612bc" target="_blank"  id="userPhoto" src="square-01.png" alt="User Photo">
    
    <a href="https://www.instagram.com/612bc" target="_blank" id="userName">@612bc</a>
    <div id="links">
        <a class="link" href="https://www.youtube.com/channel/UCC51xiLG-qT8UFG9zi5nmKQ" target="_blank">YouTube</a>
        <a class="link" href="https://www.youtube.com/channel/UCC51xiLG-qT8UFG9zi5nmKQ" target="_blank">SoundCloud</a>
        <a class="link" href="https://www.youtube.com/channel/UCC51xiLG-qT8UFG9zi5nmKQ" target="_blank">Spotify</a>
        <a class="link" href="https://www.youtube.com/channel/UCC51xiLG-qT8UFG9zi5nmKQ" target="_blank">Apple Music</a>
        <a class="link" href="https://instagram.com/612bc/" target="_blank">Instagram</a>
    </div>

    <!-- Javascript -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script  src="index.js"></script>
</body>
</html>