<!DOCTYPE html>

<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />
    <title>Homer Simpson</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="font-awesome.css" />
    <link rel="stylesheet" href="assets/css/font-awesome.min.css" />
    <link rel="icon" href="" type="image/x-icon" />
  </head>

  <body>
    <img id="userPhoto" src="https://i.imgur.com/t8ZX9um.jpg" alt="User Photo"/>
    <h1>Homer Simpson</h1>
    <div id="description">
      Homer Jay Simpson is a fictional character and the protagonist of the
      American animated sitcom The Simpsons. LinkFree template created by
      <a href="https://ryanloi.me/" target="_blank">Ryan Loi</a>.
    </div>
    <div id="links">
       
      <a
        class="link"
        href="https://pt.wikipedia.org/wiki/Homer_Simpson"
        target="_blank"
        >Wikipedia</a
      >
      <a class="link" href="https://foxplay.com/br/forme" target="_blank"
        >IMDB</a
      >
    </div>

    <!-- Javascript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </body>
</html>
