<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="media/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="style.css">
    <title>My Castle</title>
</head>
<body>

    <div class="profile_card_div">
        <div class="whoami_div">
            <div class="profilepic_div">
                <img src="media/profilepic.png" alt="" class="profilepic">
            </div>
            <div class="textinfo">
                <h1 class="name">Prakhar Tiwari</h1>
                <h2 class="profession">Student | Web Developer</h2>
            </div>
        </div>
            <div class="linkscard_div">
                <ul>
                    <li class="list-item"><a href="https://prakhartiwari0.github.io/" target="_blank"><img src="media/websiteicon.png" alt="Website">Website</a></li>
                    <li class="list-item"><a href="https://github.com/prakhartiwari0" target="_blank"><img src="media/githubicon.png" alt="GitHub">GitHub</a></li>
                    <li class="list-item"><a href="https://twitter.com/Prakhartiwari0" target="_blank"><img src="media/twittericon.png" alt="Twitter">Twitter</a></li>
                    <li class="list-item"><a href="https://www.linkedin.com/in/prakhar-tiwari0" target="_blank"><img src="media/linkedinicon.png" alt="Linkedin">Linkedin</a></li>
                    <li class="list-item"><a href="https://www.showwcase.com/prakhartiwari0" target="_blank"><img src="media/showwcaseicon.png" alt="Showwcase">Showwcase</a></li>
                </ul>
            </div>
    </div>
</body>
</html>
