<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Green-template</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <img id="userPhoto" src="https://i.imgur.com/t8ZX9um.jpg" alt="User Photo">
    
        <a href="https://www.instagram.com/thesimpsons" id="userName">@thesimpsons</a>
        <div id="links">
            <a class="link" href="https://pt.wikipedia.org/wiki/Homer_Simpson" target="_blank">Wikipedia</a>
            <a class="link" href="https://foxplay.com/br/forme" target="_blank">IMDB</a>
        </div>
    
        <div class="footer">
            Theme made by <a href="https://github.com/emperorbj" style="text-decoration: underline;">Opatola Bolaji</a>
        </div>
        <script src="" async defer></script>
    </body>
</html>
