<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Kai Davis</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
</head>

<body>
    <img id="userPhoto" src="https://ibb.co/k2fkbnC" alt="User Photo">
    
    <a href="https://www.instagram.com/kailinciaga" id="userName">@kailinciaga</a>
    <div id="links">
        <a class="link" href="https://www.instagram.com/tippitapofficial" target="_blank">Tippi Tap</a>
        <a class="link" href="mailto:kaikerrocks@gmail.com" target="_blank">Email Me</a>
    </div>

    <!-- Javascript -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script  src="index.js"></script>
</body>
</html>
