<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Homer Simpson</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="circle.png" >
</head>
<body>
    <img id="userPhoto" src="https://images.immediate.co.uk/production/volatile/sites/3/2018/08/Simpsons_SO28_Gallery_11-fb0b632.jpg?quality=90&resize=620,413" alt="User Photo">
    
    <a href="https://www.instagram.com/thesimpsons" id="userName">@thesimpsons</a>
    <div id="links">
        <a class="link" href="https://pt.wikipedia.org/wiki/Homer_Simpson" target="_blank">Wikipedia</a>
        <a class="link" href="https://foxplay.com/br/forme" target="_blank">IMDB</a>
    </div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script  src="index.js"></script>
</body>
</html>