<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" href="style.css" />
        <title>Argh My Eyes Theme | Eko Triono</title>
    </head>
    <body>
        <div class="author">
            <img src="https://avatars.githubusercontent.com/u/12593832?v=4" alt="Eko Triono" class="author__pic" />
            <a href="https://github.com/ekotriono" class="author__username" target="_blank">@ekotriono</a>
        </div>
        <div class="links">
            <a href="https://github.com/ekotriono" target="_blank" class="links__item">
                <span class="links__icon"><i class="bx bxl-github"></i></span>
                <span class="links__label">Github</span>
            </a>
            <a href="https://linkedin.com/in/ekotriono" target="_blank" class="links__item">
                <span class="links__icon"><i class="bx bxl-linkedin"></i></span>
                <span class="links__label">Linkedin</span>
            </a>
            <a href="https://instagram.com" target="_blank" class="links__item">
                <span class="links__icon"><i class="bx bxl-instagram"></i></span>
                <span class="links__label">Instagram</span>
            </a>
            <a href="https://facebook.com" target="_blank" class="links__item">
                <span class="links__icon"><i class="bx bxl-facebook"></i></span>
                <span class="links__label">Facebook</span>
            </a>
        </div>
  </body>
</html>
