@-webkit-keyframes argh-my-eyes {
    0% { background-color: #302387; }
    25% { background-color: #FF3796; }
    50% { background-color: #C32BAD; }
    75% { background-color: #00FAAC; }
    100% { background-color: #FFFDAF; }
}
@-moz-keyframes argh-my-eyes {
    0% { background-color: #302387; }
    25% { background-color: #FF3796; }
    50% { background-color: #C32BAD; }
    75% { background-color: #00FAAC; }
    100% { background-color: #FFFDAF; }
}
@keyframes argh-my-eyes {
    0% { background-color: #302387; }
    25% { background-color: #FF3796; }
    50% { background-color: #C32BAD; }
    75% { background-color: #00FAAC; }
    100% { background-color: #FFFDAF; }
}
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
* {
    box-sizing: border-box;
}
body {
    animation: argh-my-eyes .7s infinite;
    -webkit-animation: argh-my-eyes 1s infinite;
    -moz-animation: argh-my-eyes 1s infinite;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    min-height: 100vh;
    overflow: hidden;
    padding: 20px 0;
    width: 100%;
}

.author {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.author .author__pic {
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
    width: 120px;
    height: 120px;
}
.author .author__username {
    color: #ffffff;
    margin-top: 20px;
    text-decoration: none;
}
.links {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}
.links .links__item {
    align-items: center;
    background-color: #ffffff;
    border-radius: 18px;
    color: #302387;
    display: flex;
    flex-direction: row;
    height: 42px;
    max-width: 100%;
    padding: 5px;
    text-decoration: none;
    width: 280px;
}
.links .links__item .links__icon {
    background-color: #302387;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
}
.links .links__item .links__icon i {
    color: #ffffff;
    font-size: 24px;
    margin: 0 auto;
}
.links .links__item .links__label {
    margin-left: 12px;
}