<!DOCTYPE html>

<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta name="robots" content="noindex,nofollow" />    <title>MNMLSM Theme LinkFree</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon" />
</head>

<body>
    <div class="container">
    <div class="content">
        <img id="userPhoto" src="img/avatar.svg" alt="User Photo">

        <h1><a href="#" id="userName" rel="noopener">@MNML</a></h1>
        <div id="links">
            <a class="link" href="https://www.netflix.com/de/title/80114460"  rel="noopener">🍿 Netflix Documentary</a>
            <a class="link" href="https://en.wikipedia.org/wiki/Minimalism" rel="noopener">📚 Wikipedia Article</a>
            <a class="link" href="https://siiimple.com/" rel="noopener">🖥 Minimalist Website Gallery</a>
        </div>

        <footer>
            We like it minimal. </footer>
    </div>
</div>


</body>

</html>