<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>LinkFree | Caio Gomes</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="icon" href="assets/imagens/favicon.png" type="image/x-icon" />
</head>

<body>
    <div id="profile">
        <img id="userPhoto" src="assets/images/profile.jpeg" alt="Profile picture of Caio Gomes">
        <div id="userName">
            <h1>Caio Gomes</h1>
            <p>Software Engineer</p>
        </div>
    </div>
    <div id="links">
        <a class="link" href="https://github.com/minimarvin" target="_blank"><i class="fa fa-github"></i> Github</a>
        <a class="link" href="https://www.linkedin.com/in/caiogomes001/" target="_blank"><i class="fa fa-linkedin"
                aria-hidden="true"></i> LinkedIn</a>
        <a class="link" href="http://caiogomes.dev" target="_blank"><i class="fa fa-globe" aria-hidden="true"></i>
            Website</a>
        <a class="link" href="mailto:contato@caiogomes.dev" target="_blank"><i class="fa fa-envelope"
                aria-hidden="true"></i>
            E-mail</a>
        <a class="link" href="https://web.whatsapp.com/send?phone=558192558512" target="_blank"><i
                class="fa fa-whatsapp" aria-hidden="true"></i>
            WhatsApp</a>
    </div>
    <script type="text/javascript" src="assets/js/animations.js"></script>
</body>

</html>