<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link  rel="shortcut icon" type="image/png" href="https://img.icons8.com/emoji/16/000000/cherry-blossom.png"><!--mention type bfr reffering-->
    <link href="style.css" rel="stylesheet" />
    <link rel="stylesheet" href="ico.css">
    <link rel="stylesheet" href="animation.css">
    
</head>
<body>
    
    <img class="rainbowcat-left " src="https://media1.giphy.com/media/XfxvBgWGIlk6STgMEn/source.gif" alt=""> 
    <img class="rainbowcat-left-bottom " src="https://media1.giphy.com/media/XfxvBgWGIlk6STgMEn/source.gif" alt="">
    <img class="rainbowcat-right " src="https://media1.giphy.com/media/XfxvBgWGIlk6STgMEn/source.gif" alt="">
    <img class="rainbowcat-right-bottom " src="https://media1.giphy.com/media/XfxvBgWGIlk6STgMEn/source.gif" alt="">
    <img class="rainbowcat-top roll-in-top" src="https://media1.giphy.com/media/XfxvBgWGIlk6STgMEn/source.gif" alt="">
    <img class="rainbowcat-bottom roll-in-bottom" src="https://media1.giphy.com/media/XfxvBgWGIlk6STgMEn/source.gif" alt="">
    <div class="container">
        <div>
            <img  class= "userPhoto " src="https://data.whicdn.com/images/325795196/original.jpg" alt="pfp">
        </div>
        <a class="userName" href="#your link">@userName</a>
        <div class="links"> 
            <a class="link" href="#">
                <img src="https://img.icons8.com/plasticine/34/000000/birthday-cake--v2.png"/>
                🎂  dd/mm/yyyy   🎂</a>
            <a class="link" href="mailto:zoyazoi113@gmail.com">
                <div class="icons8-mail"></div>
                Email</a>
            <a class="link" href="https://images2.alphacoders.com/982/thumb-1920-982021.png" target="_blank" >
                <div class="icons8-discord"></div>
                Discord
            </a>
            <a class="link" href="#">
                <div class="icons8-amino"></div>
                Amino</a>
            <a class="link" href="#">
                <div class="icons8-instagram"></div>
                instagram</a>
            <a class="link"href="#">
                <div class="icons8-facebook"></div>
                facebook
            </a>
            <a class="link"href="#">
                <div class="icons8-reddit"></div>
                reddit
            </a>


        </div>
    </div>

</body>
</html>