/* Style Settings */
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
:root {
    --bgColor: rgb(255, 230, 184);
    --accentColor: #2fc24f;
    --font: 'Permanent Marker', cursive;
}

body{
    background: center bottom url(grass-dark-green-silhouette.svg) no-repeat;
    background-color: var(--bgColor);
    background-size: cover;
    min-height: 100vh;
}

#userPhoto{
    width: 96px;
    height: 96px;
    display: block;
    margin: 35px auto 20px;
    border-radius: 50%;
}

#userName{
    color: #999;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.25;
    display: block;
    font-family: var(--font);
    width: 100%;
    text-align: center;
    text-decoration: none;
}

#links{
    max-width: 675px;
    width: auto;
    display: block;
    margin: 27px auto;
}
.link{
    display: block;
    background-color: var(--accentColor);
    color: var(--bgColor);
    font-family: var(--font);
    text-align: center;
    margin-bottom: 20px;
    padding: 17px;
    text-decoration: none;
    font-size: 1.5rem;
    transition: all .25s cubic-bezier(.08,.59,.29,.99);
    border: solid var(--accentColor) 2px;
}
.link:hover{
    background-color: var(--bgColor);
    color: var(--accentColor);
}
