<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" />
    <title>Cubism Theme</title>
</head>
<body>
    <div class="container">
        <div class="geometric-bg">
            <div class="shape shape1"></div>
            <div class="shape shape2"></div>
            <div class="shape shape3"></div>
            <div class="shape shape4"></div>
            <div class="shape shape5"></div>
        </div>

        <div class="profile-section">
            <div class="profile-frame">
                <img class="profile-img" src="https://avatars.githubusercontent.com/u/89015968?v=4" alt="Profile">
            </div>
            <h1 class="profile-name">Your Name</h1>
            <p class="profile-bio">Artist • Designer • Creator</p>
        </div>

        <div class="links-section">
            <a href="https://github.com" target="_blank" class="link-item">
                <div class="link-content">
                    <i class="fab fa-github"></i>
                    <span>GitHub</span>
                </div>
            </a>

            <a href="https://twitter.com" target="_blank" class="link-item">
                <div class="link-content">
                    <i class="fab fa-twitter"></i>
                    <span>Twitter</span>
                </div>
            </a>

            <a href="https://linkedin.com" target="_blank" class="link-item">
                <div class="link-content">
                    <i class="fab fa-linkedin"></i>
                    <span>LinkedIn</span>
                </div>
            </a>

            <a href="https://instagram.com" target="_blank" class="link-item">
                <div class="link-content">
                    <i class="fab fa-instagram"></i>
                    <span>Instagram</span>
                </div>
            </a>

            <a href="https://youtube.com" target="_blank" class="link-item">
                <div class="link-content">
                    <i class="fab fa-youtube"></i>
                    <span>YouTube</span>
                </div>
            </a>
        </div>
    </div>

    <script src="https://kit.fontawesome.com/3fd576ae50.js" crossorigin="anonymous"></script>
</body>
</html>
