<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Dragon Theme</title>
</head>
<body>
    <section>
        <center><div id="parent_circle"><div id="child_circle"></div></div></center>
        <!-- <img src="dragon.png" alt="dragon"> -->
         <div class="btns">
            <a href="https://github.com/" target="_blank"><button>
               GitHub
            </button></a>
                
            <a href="https://in.linkedin.com/" target="_blank"></a><button>
                LinkedIn
            </button></a>

            <a href="https://www.facebook.com/" target="_blank"><button>
               Facebook
            </button></a>

            <a href="https://hashnode.com/" target="_blank"></a><button>
                Hashnode
            </button></a>
         </div>
    </section>
</body>
</html>