<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Loading...</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta property="og:image" content="">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
  <meta property="og:type" content="website">
  <meta property="og:title" content="">
  <meta property="og:description" content="">
  <link rel="stylesheet" href="styles.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;400;700&family=Oswald:wght@300;400;500&display=swap"
    rel="stylesheet">

  <link rel="apple-touch-icon" sizes="180x180" href="./assets/favicon_io/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./assets/favicon_io/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./assets/favicon_io/favicon-16x16.png">
  <link rel="manifest" href="./assets/favicon_io/site.webmanifest">
  <link rel="android-chrome" href="./assets/favicon_io/android-chrome-192x192.png" sizes="192x192">
  <link rel="android-chrome" href="./assets/favicon_io/android-chrome-512x512.png" sizes="512x512">
  <link rel="shortcut icon" href="./assets/favicon_io/favicon.ico">
</head>

<body>
  <main>
    <div class="wraper">
      <div class="background"></div>
      <div class="container">
        <img src="" class="cover-art" alt="Cover Art" id="cover-art">
        <h1 id="header-title"></h1>
        <h2 id="header-artist"></h2>
        <p data-test="layout-header-description" class="header__description" id="header-description"></p>

        <div class="platforms" id="platforms-container">
          <!-- Platform links will be generated here by script.js -->
        </div>

        <footer class="lnk-c-footnote__affiliate" id="footer-text"></footer>
      </div>
    </div>
  </main>

  <!-- Configuration and Logic Scripts -->
  <script src="config.js"></script>
  <script src="script.js"></script>
</body>

</html>