<!DOCTYPE html>

<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />
    <title>Sneh Patel</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="font-awesome.css" />
    <link rel="stylesheet" href="assets/css/font-awesome.min.css" />
    <link rel="icon" href="" type="image/x-icon" />
  </head>

  <body>
    <img id="userPhoto" src="https://media.istockphoto.com/photos/hacker-picture-id502860430?b=1&k=20&m=502860430&s=170667a&w=0&h=LfVfbGQiz0Z7WhZ7dJteO2IuXUU1gooSIX_coOG7smI=" alt="User Photo"/>
    <h1>Sneh Patel</h1>
    <div id="description">
      Sneh Patel is btech Student at NIT surat in computer science. LinkFree template created by
      <a href="https://ryanloi.me/" target="_blank">Ryan Loi</a>.
    </div>
    <div id="links">
       
      <a
        class="link"
        href="https://www.linkedin.com/in/sneh-patel-b18b081a1/"
        target="_blank"
        >LinkedIn</a
      >
      
      <a class="link" href="https://github.com/Snehpatel007" target="_blank"
        >Github</a
      >
    </div>

    <!-- Javascript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </body>
</html>
