<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Retro Game</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"><link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css'><link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- by Soman Yadav -->
<div class="wrap">
  <div class="profile">
    <img src="https://media0.giphy.com/avatars/danielfigueirdo/mR5uHXLuePGT.gif" class="photo" style="height:80px; width:80px;">
    <span class="profile_name">Soman Yadav</span>
    <span class="at">@beingsoman</span>
  </div>
  <div class="links">
    <ul>
      <li><a href="#" class="link"><i class="fab fa-youtube"></i> See the latest video</a></li>
      <li><a href="#" class="link"><i class="fab fa-youtube"></i> Subscribe on YouTube channel</a></li>
      <li><a href="#" class="link"><i class="fab fa-github"></i> Github</a></li>
      <li><a href="#" class="link"><i class="fab fa-linkedin-in"></i> LinkedIn</a></li>
      <li><a href="#" class="link"><i class="fab fa-codepen"></i> Codepen</a></li>
      <li><a href="#" class="link"><i class="fas fa-mobile-alt"></i> My website</a></li>
    </ul>
    
  </div>
</div>
<!-- SYLDD -->
  
</body>
</html>
