body {
  font-family: sans-serif;
  margin: 0;
  padding: 15px;
  background-image: url('https://cdnb.artstation.com/p/assets/images/images/024/538/827/original/pixel-jeff-clipa-s.gif');
}
.wrap {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
}
.profile {
  text-align: center;
  color: #FFF;
}
.photo {
  border-radius: 50%;
}
.profile_name {
  font-weight: bold;
  display: block;
}
.at {
  font-size: 13px;
}
.links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.links ul li {
  margin: 14px 0;
}
.link {
  padding: 14px;
  display: block;
  background-color: #9466FF;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  transition: ease all 0.3s;
  color: #FFF;
}
.link:hover {
  opacity: 0.9;
  background-color: #170fff;
}
.card {
  padding: 10px;
  background-color: #FFF;
  border-radius: 4px;
}
.card h3 {
  margin: 0;
  color: #202024;
}
.card p {
  margin: 5px 0;
  font-size: 13px;
  color: #202024;
}