<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Mace Windu</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
</head>

<body>
    <img id="userPhoto" src="https://i.imgur.com/d1QEScO.jpeg" alt="User Photo">
    
    <a href="https://www.instagram.com/starwars" id="userName">@starwars</a>
    <div id="links">
        <a class="link" href="https://en.wikipedia.org/wiki/Mace_Windu" target="_blank">Wikipedia</a>
        <a class="link" href="https://www.imdb.com/title/tt0121766" target="_blank">IMDB</a>
    </div>

    <!-- Javascript -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script  src="index.js"></script>
    <audio id="lightsaber-ignition-0">
        <source src="lightsaber-ignition-0.mp3">
        </source>
    </audio>
    <audio id="lightsaber-ignition-1">
        <source src="lightsaber-ignition-1.mp3">
        </source>
    </audio>
    <audio id="lightsaber-ignition-2">
        <source src="lightsaber-ignition-2.mp3">
        </source>
    </audio>
</body>
</html>