<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Vienna Elric</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
</head>

<body>
    <img id="userPhoto" src="https://i.imgur.com/t8ZX9um.jpg" alt="User Photo">

    <a href="https://www.instagram.com/thestateofvie" id="userName">@thestateofvie</a>
    <div id="links">
        <a class="link" href="https://twitter.com/viennaelric" target="_blank">Twitter</a>
        <a class="link" href="https://www.behance.net/viennaelriaa0b" target="_blank">Behance</a>
    </div>

    <!-- Javascript -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script  src="index.js"></script>
</body>
</html>
