<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Buisness Template</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./style.css" />
</head>

<body>
    <div class="w-full h-full">
        <img class="z-0 absolute w-[100vw] h-[100vh]" src="https://images.pexels.com/photos/9512007/pexels-photo-9512007.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Buisness" />
        <div
            class="bg-[#fff]/80  xl:w-[50vw] sm:w-[60vw] w-[90vw] h-[80vh] absolute z-11 justify-center m-auto left-0 right-0 top-0 bottom-0 rounded-3xl ">
            <a href="https://github.com/Srigopalsarda"><img src="logo.jpg"
                    class="w-24 h-24 my-2 hover:scale-110 ease-in cursor-pointer rounded-full bg-[#fff] mx-auto"
                    alt="Logo" /></a>
            <h3 class="font-bold mt-4 text-center text-4xl Lora">Hello Everyone</h3>
            <div class="space-y-8 my-[10vh] lg:mx-[10vw] mx-0 text-lg lg:text-xl mr-3 lg:mr-0 font-semibold">
                <a href="https://github.com/Srigopalsarda">
                    <div
                        class="github box flex hover:font-bold my-5 w-full lg:w-[75%] h-[10%] text-[#fff] ">
                        <img src="github.gif" class="w-12 h-12 rounded-full" alt="Github-icon" />
                        <p class="mx-3 my-auto">Collaborate <span>with me on Github</span></p>
                    </div>
                </a>
                <a href="https://github.com/Srigopalsarda">
                    <div
                        class="instagram box flex hover:font-bold my-5 w-full lg:w-[75%] h-[10%] text-[#fff] ">
                        <img src="instagram.gif" class="w-12 h-12 rounded-full" alt="Instagram-icon" />
                        <p class="mx-3 my-auto">Have A Look <span>Instagram Posts</span></p>
                    </div>
                </a>
                <a href="https://github.com/Srigopalsarda">
                    <div
                        class="linkedin box flex hover:font-bold w-full h-[10%] lg:w-[75%] text-[#fff] ">
                        <img src="linkedin.gif" class="w-12 h-12 rounded-full" alt="Linked-icon" />
                        <p class="mx-3 my-auto">Connect <span>with me on Linkedin</span></p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</body>

</html>