.Lora{
    font-family: 'Lora', serif;
}
.Lexend{
    font-family: 'Lexend', sans-serif;
}
.box{

    border-radius: 100px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}
.box:hover{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.github{
    background-color: #2100c4 !important;
}
.instagram{
    background-color: #f55376 !important;
}
.linkedin{
    background-color: #0077b5 !important;
}