<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blackCoffe</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Seymour+One&family=Yomogi&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div class="container">
        <div class="image">
        </div>
        <div class="name">
            SNEH PATEL
        </div>
        <div class="discription">
            Computer Science Student At NIT Surat
        </div>
        <a href="https://www.linkedin.com/in/sneh-patel-b18b081a1/" target="_blank" class="platform">
            <div id="linkedIn" class="link">
                <i class="fab fa-linkedin-in"></i>
                <p> Linkedin</p>
            </div>
        </a>
        <a href="https://github.com/Snehpatel007" target="_blank" class="platform">
            <div id="Github" class="link">
                <i class="fab fa-github"></i>
                <p>Github</p>
            </div>
        </a>
        <a href="" target="_blank" class="platform">
            <div id="Wekipedia" class="link">
                <i class="fab fa-wikipedia-w"></i>
                <p>Wekipedia</p>
            </div>
        </a>
        <a href="https://www.instagram.com/sneh_27.04/" target="_blank" class="platform">
            <div id="instagram" class="link">
                <i class="fab fa-instagram"></i>
                <p>Instagram</p>
            </div>
        </a>
        <a href="https://api.whatsapp.com/send?phone==918511266722&text=snehpatel" target="_blank" class="platform">
            <div id="whatsapp" class="link">
                <i class="fab fa-whatsapp"></i>
                <p>Whatsapp</p>
            </div>
        </a>
    </div>
</body>
<script src="https://kit.fontawesome.com/63ac9b11ad.js" crossorigin="anonymous"></script>
</html>