<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Homer Simpson</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
</head>

<body>
    <div class="rainbowcat-left roll-in-left"></div>
    <div class="rainbowcat-right roll-in-right"></div>
    <div class="rainbowcat-top roll-in-top"></div>
    <div class="rainbowcat-bottom roll-in-bottom"></div>
    <div class="rainbowcat-right-bottom roll-in-right"></div>
    <div class="rainbowcat-left-bottom roll-in-left"></div>


    <img id="userPhoto" src="https://i.imgur.com/t8ZX9um.jpg" alt="User Photo">
    <a href="https://www.instagram.com/thesimpsons" id="userName">@thesimpsons</a>
    <div id="links">
        <a class="link" href="https://pt.wikipedia.org/wiki/Homer_Simpson" target="_blank">😻 Wikipedia 😻</a>
        <a class="link" href="https://foxplay.com/br/forme" target="_blank">😻 IMDB 😻</a>
    </div>

    <!-- Javascript -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script  src="index.js"></script>
</body>
</html>
