<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Beldi music Theme</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
</head>

<body>
    <img id="userPhoto" src="img/profile.jpg" alt="Beldi">
    
    <a href="" id="userName">@beldimusic</a>
    <div id="links">
        <a class="link" href="https://beathey.com/artists/1045/info" target="_blank">BeatHey</a>
        <a class="link" href="https://open.spotify.com/artist/6WoIusXtJQySlAgoovjPsz?si=imncMAi_QyWSdVv2f4oUPg" target="_blank">Spotify</a>
        <a class="link" href="https://www.youtube.com/channel/UCArYM9Wd1fg2OVT1YpzBbzg/featured" target="_blank">YouTube</a>
    </div>

    <footer>
        🎵 Artista <a href="https://www.instagram.com/beatheyok/">@beatheyok</a>
    </footer>

    <!-- Javascript -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script  src="index.js"></script>
</body>
</html>