@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500&display=swap" rel="stylesheet');

:root {
    --font: 'Fira Sans', sans-serif;
    
    --background: #0b2c3b;
    --selection: #0b2c3b;
    --comment: #f3801d;
    --cream: #f8e6c4;
    --green: #009e7d;
}

body{
    background: var(--background) url(img/pem.jpg) repeat center bottom;
    background-size: contain;
    color: var(--cream);
    height: 100vh;
}

footer{
    text-align: center;

    color:var(--selection);

    font-family: var(--font);
    font-size: 0.75rem;
    font-weight: 400;
}
footer a {
    color: var(--selection);
    cursor: pointer;
}
footer a:hover {
    color: var(--comment);
}

#userPhoto{
    width: 96px;
    height: 96px;

    display: block;

    margin: 35px auto 20px;

    border-radius: 50%;
    border: solid var(--cream) 2px;
}

#userName{
    width: 100%;

    color: var(--cream);

    font-family: var(--font);
    font-size: 1rem;
    font-weight: 400;

    text-align: center;
    text-decoration: none;

    line-height: 1.25;
    display: block;
}

#links{
    max-width: 675px;
    width: auto;

    display: block;

    margin: 27px auto;
}
.link {
	background-color: var(--green);
	display: block;
	color: #fff;
    cursor: pointer;
	font-family: var(--font);
	text-align: center;
    text-shadow: 1px 1px var(--background);
	margin-bottom: 1.2rem;
	padding: 1rem;
	text-decoration: none;
	font-size: 1rem;
	font-weight: bold;
	transition: all 0.15s;
	box-shadow: 4px 4px #086a55;
}

.link:hover, .link:focus {
	background: #09bf90;
	box-shadow: 2px 2px #086a55;
    cursor: pointer;
	transform: translate(2px);
    transition: all ease-in 0.3s;
}