<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" />
    <title>Cube theme</title>
</head>
<body>

    <div class="diamond">
        <img class="diamond__img" src="https://avatars.githubusercontent.com/u/89015968?v=4" alt="logo">
    </div>

    <h1>SebastianCCC</h1>
    <div class="links__container">
    <a href="https://pt.wikipedia.org/wiki/Homer_Simpson" target="_blank">
    <div class="links flex">
        <i class="fas fa-atlas"></i>
        <p>Wikipedia</p>
    </div>
</a>
</div>

<div class="links__container">
    <a href="https://foxplay.com/br/forme" target="_blank">
    <div class="links flex">
       <i class="fab fa-imdb"></i>
        <p>IMDB</p>
    </div>
</a>
</div>
    
</body>
<script src="https://kit.fontawesome.com/3fd576ae50.js" crossorigin="anonymous"></script>
</html>