@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--poppins);
}

img {
    width: 100%;
    height: auto;
    display: block;
}

body {
    background-image: url(./images/cubes_background.jpeg);
    background-size: cover;
}

:root {

    --greenColor: #3fce8b;
    --blueColor: #5190e2;
    --lightpurple: rgb(133, 152, 217);
    --whiteColor: #ffffff;

    --poppins: Poppins;

    --font_size_big: 30px;
    --font_size_medium: 25;


}

.diamond {
    max-width: 100px;
    margin: 0 auto;
    margin-top: 5%;
    background: linear-gradient(to right, var(--blueColor), var(--greenColor));
    padding: 5px;
    transform: rotate(45deg);
}

.diamond__img {
    background: linear-gradient(to right, var(--greenColor), var(--blueColor));
    padding: 5px;
    transform: rotate(-45deg);
}

h1 {
    font-size: var(--font_size_big);
    text-align: center;
    padding: 3%;
    color: var(--whiteColor);
}

.links {
    padding: 5px;
    background: linear-gradient(to right, var(--blueColor), var(--greenColor));
}

.links:hover {
    background: var(--whiteColor);
}

.links:hover .fas, .links:hover .fab, .links:hover p{
    color: var(--lightpurple);
}

.links__container {
    width: 35%;
    padding: 2px;
    margin: 0 auto;
    margin-bottom: 35px;
    background: linear-gradient(to right, var(--greenColor), var(--blueColor));
}

.fas, .fab {
    font-size: var(--font_size_big);
    color: var(--whiteColor);
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    color: var(--whiteColor);
    font-size: var(--font_size_medium);
    font-weight: bold;
    padding: 0 10px 0 10px;
}

a {
    text-decoration: none;
}