@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap");

html {
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  text-align: center;
}
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(Doubs.png);
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  background-color: rgb(255, 255, 255);
  padding: 3rem;
  border-radius: 8px;
  box-shadow: 10px 10px rgb(118, 172, 241);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all .5s ease;
}

main:hover {
  transform: translate(10px, 10px);
  box-shadow: 0px 0px rgb(118, 172, 241);
}

main div {
  margin-bottom: 2rem;
  width: 30vw;
}

main .profile img {
  width: 40%;
  border-radius: 50%;
  box-shadow: 10px 6px rgba(97, 126, 240, 0.671);
  transition: all .5s ease;
}

main .profile img:hover {
  cursor: pointer;
  transform: translate(10px, 10px);
  box-shadow: 0px 0px rgba(97, 126, 240, 0.671);
}

main .profile h1 {
  font-size: 2rem;
  font-weight: bolder;
}

a {
  text-decoration: none;
}

a div {
  background-color: rgb(183, 124, 238);
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 10px 10px rgb(255, 187, 109);
  text-align: center;
}

a div:hover {
  background-color: rgb(255, 187, 109);
  box-shadow: 10px 10px rgb(183, 124, 238);
}

a div:hover p {
  color: black;
}

a div img {
  width: 2rem;
}

a div p {
  display: inline;
  color: white;
  text-align: center;
  position: relative;
  top: -0.5rem;
}

a div:active {
  transform: translate(10px, 10px);
  box-shadow: 0px 0px rgb(183, 124, 238);
}

@media (max-width: 900px) {
  main {
    width: 80%;
    padding: 1.5rem;
    box-shadow: none;
  }

  main:hover {
    transform: none;
    box-shadow: none;
  }

  main .profile h1 {
    font-size: 1.5rem;
    margin-top: 2rem;
  }

  main .profile img {
    width: 60%;
  }

  main .profile img:hover {
    transform: none;
    box-shadow: 10px 6px rgba(97, 126, 240, 0.671);
  }

  main div {
    width: 70vw;
  }
}

@media (max-width: 400px) {
  main a div p span {
    display: none;
  }
}
