<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Dracula Theme LinkFree</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
</head>

<body>
    <img id="userPhoto" src="img/045-dracula.svg" alt="User Photo">
    
    <a href="" id="userName">@Dracula</a>
    <div id="links">
        <a class="link" href="https://draculatheme.com/" target="_blank">SITE</a>
        <a class="link" href="https://github.com/dracula/dracula-theme" target="_blank">REPOSITORY</a>
    </div>

    <footer>
        🧛🏻‍♂️ Dark theme for all the things!
    </footer>

    <!-- Javascript -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script  src="index.js"></script>
</body>
</html>