<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>I'm Totally Buggin'</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
</head>

<body>
    <div>
        <img src="" alt="" srcset="https://emojis.slackmojis.com/emojis/images/1539890226/4845/rickroll.gif?1539890226">
    </div>
    <div class="instagram">
        <a href="https://www.instagram.com/corgistagrams" id="userName">@corgistagrams</a>
    </div>
    <div id="links">
        <a class="link" href="https://pt.wikipedia.org/wiki/Homer_Simpson" target="_blank">Wikipedia</a>
        <a class="link" href="https://foxplay.com/br/forme" target="_blank">IMDB</a>
    </div>

    <!-- Javascript -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script src="index.js"></script>
</body>

</html>