<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="halloween linkfree linktree template spooky minimalist">
    <meta name="author" content="Darshan K S">
    <title>LinkFree | Minimilist Halloween</title>
    <link rel="icon" href="./assets/images/title.png" type="image/x-icon" />
    <link rel="stylesheet" href="assets/css/style.css">
    <script src="https://kit.fontawesome.com/1c591452af.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <img id="userPhoto" src="./assets/images/profile.jpg" alt="User Photo">
    <h1 id="userName"><span style="font-family: Arial;">@</span>DarshanKS</h1>

    <div id="links">
        <a class="link" href="https://darshan-k-s.github.io/" target="_blank">My portfolio</a>
        <a class="link" href="https://github.com/darshan-k-s" target="_blank">Github</a>
        <a class="link" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">YouTube channel</a>
        <a class="link" href="https://www.imdb.com/title/tt1442437/" target="_blank">Favourite show</a>
    </div>

    <div class="footer">
        <a href="https://www.instagram.com/darshan_k_5/" target="_blank">
            <i style="line-height: 38px;" class="fa fa-instagram circulo" aria-hidden="true"></i>
        </a>
        <a href="https://www.facebook.com/" target="_blank">
            <i style="line-height: 38px;" class="fa fa-facebook-f circulo" aria-hidden="true"></i>
        </a>
        <a href="https://www.linkedin.com/in/darshan-k-s/" target="_blank">
            <i style="line-height: 38px;" class="fa fa-linkedin circulo" aria-hidden="true"></i>
        </a>
        <a href="https://whatsapp.com/" target="_blank">
            <i style="line-height: 38px;" class="fa fa-whatsapp circulo" aria-hidden="true"></i>
        </a>
    </div>

    <script src="./assets/js/script.js"></script>
</body>
</html>