<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Neumorphism</title>
  <link rel="stylesheet" href="style.css">
  <!-- Open source icons from https://remixicon.com/ -->
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <header>
      <div class="picture"></div>
      <h1>Homer Simpson</h1>
    </header>
    <main>
      <a class="link" href="https://en.wikipedia.org/wiki/Homer_Simpson" target="_blank"><i class="ri-book-3-line"></i> Wikipedia</a>
      <a class="link" href="https://www.imdb.com/title/tt0096697/" target="_blank"><i class="ri-movie-2-line"></i> IMDB</a>
      <a class="link" href="https://www.instagram.com/thesimpsons/" target="_blank"><i class="ri-instagram-line"></i> Instagram</a>
      <a class="link" href="https://www.facebook.com/TheSimpsons/" target="_blank"><i class="ri-facebook-line"></i> Facebook</a>
    </main>
  </div>
</body>
</html>